<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
  
      <!-- Id -->
      <ng-container matColumnDef="Id">
        <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
        <mat-cell *matCellDef="let category"> {{category.Id}} </mat-cell>
      </ng-container>
  
      <!-- Name -->
      <ng-container matColumnDef="CategoryName">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let category"> {{category.CategoryName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
        <mat-cell *matCellDef="let category"> 
            <button (click)="deleteCategory(category.Id, category.CategoryName)">       
                <mat-icon style="color: rgb(221, 17, 17);">delete</mat-icon>
            </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>